<!DOCTYPE html>
<html lang="en">
  <head>


  </head>
<body>
<%include ../header%>
<!-- Header End====================================================================== -->
	
	<div class="container-fluid">
		<div class="row">
			<!-- Sidebar ================================================== -->
			<div class="col-2">
				<%include sidebarlaptop %>
			</div>
			<!-- Sidebar end=============================================== -->
			<div class="col-10" style="margin-top: 10px;"> 
				<div class="row">
					<!-- <h2 class="product-title">Laptop</h2> -->
				</div>
				<div class="row">
					<div class="col-9">
						<%include carousel%>
					</div>
			
				</div>
				<!-- đầy sidebar-->
			
			
		
		<!-- dữ liệu đổ vào nhớ chú ý mấy cái class với style nhé, nó khác mấy cái ở trên nha.-->
		<!-- <div class="row">
			<div class="row-5 top10-title">
				<h3>Apple</h3>
			</div>
		</div>
		<div class="row">
			
			<% data.forEach(function(d,i){ %>
			<%if(d.Supplier == "Apple"){%>

			<div class="top10-index">
				<div class="card" style="width: 16rem;">
					<img src="/customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text"><%=d.DisplayName%></p>
						<h5 class="card-title"><%=d.Price%></h5>
						<button type="button" class="btn btn-primary" 
						onclick="location.href='/product/laptop/<%=d._id%>'"
							>Chi tiết</button>
					</div>
				</div>
			</div>
		<%}%>	
		<%})%>
			
		
		</div>






			<div class="row">
			<div class="row-5 top10-title">
				<h3>Asus</h3>
			</div>
		</div>
		<div class="row">
			
			<% data.forEach(function(d,i){ %>
			<%if(d.Supplier == "Asus"){%>

			<div class="top10-index">
				<div class="card" style="width: 16rem;">
					<img src="/customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text"><%=d.DisplayName%></p>
						<h5 class="card-title"><%=d.Price%></h5>
						<button type="button" class="btn btn-primary" 
						onclick="location.href='/product/laptop/<%=d._id%>'"
							>Chi tiết</button>
					</div>
				</div>
			</div>
		<%}%>	
		<%})%>
			
		
		</div>









			<div class="row">
			<div class="row-5 top10-title">
				<h3>HP</h3>
			</div>
		</div>
		<div class="row">
			
			<% data.forEach(function(d,i){ %>
			<%if(d.Supplier == "HP"){%>

			<div class="top10-index">
				<div class="card" style="width: 16rem;">
					<img src="/customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text"><%=d.DisplayName%></p>
						<h5 class="card-title"><%=d.Price%></h5>
						<button type="button" class="btn btn-primary" 
						onclick="location.href='/product/laptop/<%=d._id%>'"
							>Chi tiết</button>
					</div>
				</div>
			</div>
		<%}%>	
		<%})%>
			
		
		</div>







			<div class="row">
			<div class="row-5 top10-title">
				<h3>Dell</h3>
			</div>
		</div>
		<div class="row">
			
			<% data.forEach(function(d,i){ %>
			<%if(d.Supplier == "Dell"){%>

			<div class="top10-index">
				<div class="card" style="width: 16rem;">
					<img src="/customer/images/samsungtv-carousel.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text"><%=d.DisplayName%></p>
						<h5 class="card-title"><%=d.Price%></h5>
						<button type="button" class="btn btn-primary" 
						onclick="location.href='/product/laptop/<%=d._id%>'"
							>Chi tiết</button>
					</div>
				</div>
			</div>
		<%}%>	
		<%})%>
			
		
		</div>
 -->



 		<div class="row">
			
			<% data.forEach(function(d,i){ %>
			

			<div class="top10-index">
				<div class="card" style="width: 16rem;">
					<img src="<%=d.ImageAvatar%>" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text"><%=d.DisplayName%></p>
						<h5 class="card-title"><%=d.Price%></h5>
						<button type="button" class="btn btn-primary" 
						onclick="location.href='/products/<%=d._id%>'"
							>Chi tiết</button>
					</div>
				</div>
			</div>
		<
		<%})%>
			
		
		</div>


		
		
		<%include ../footer %>
	</div>
	

</body>

</html>