<!DOCTYPE html>
<html lang="en-us">

<head>
 <%include ../header %>
</head>

<body class="layout layout-vertical layout-left-navigation layout-above-toolbar layout-above-footer">
    <main>
       <div id="wrapper">
            <%include ../sidebar%>
          <%include editstaffdialog%>
          <div class="content-wrapper">
                <div class="content custom-scrollbar ps ps--active-y">
                    <div >
                   
						<!-- / body -->
						<div class="container-fluid">
							<div class="row">
								
								<div class="col-12">
									<!-- Title of table -->
									<div class="row align-items-center my-table-title">
											<div class="col">
												<div>
													<a href="#" ><h3 class="mycustom-title">Danh sách tài khoản nhân viên</h3></a>
												</div>
												
											</div>

											<!-- <div class="col-auto">
												<div class="row align-items-center justify-content-end">		
													<div class="user-menu-button">
														<div>
															<button type="button" class="btn btn-primary my-button"data-toggle="modal" data-target="#my-staff-dialog">Thêm mới</button>

														</div>
													</div>
												</div>
											</div> -->
									</div>
								
									<form class="my-form-table">
									<table id="my-table" class="table table-striped table-bordered">
													<thead class="my-title-table">
												<tr>
													<th>STT</th>
													<th>Họ tên</th>
													<!-- <th>Hình</th> -->
													<th>Giới tính</th>
													<th>Ngày sinh</th>
													<th>Điện thoại</th>
													<th>Địa chỉ</th>
													<th>Xem chi tiết</th>
													<th>Chỉnh Sửa</th>
												</tr>
											</thead>
												<tbody class="my-table-body">
														<% users.forEach(function(user,i){ %>

														<tr>
			
													   <td><%=i%></td> 
													   <Td><%=user.DisplayName%></td>                  	                 
													   <!-- <Td></td>  -->
													   <td><%=user.Gender%></td>
													   <Td><%=user.DateOfBirth%></td>
													   <td><%=user.Phone%></td>											  
													   <td><%=user.Address%></td>
													    
													    <td><input type="button" onclick="location.href='/admin/staffs/<%=user._id%>'" value="Chi Tiết " class= "btn btn-primary my-button"/> </td></td>
														
													  
													   <td><button type="button" id="<%=user._id%>"class="btn btn-primary my-button"data-toggle="modal" data-target="#my-staff-dialog" onclick="pp(id)">Chỉnh sửa</button></td>
													</tr>

													    
													  	<% }); %>									
													
													
												</tbody>

											</table>
											<script>
												$(document).ready(function() {
													$('#my-table').DataTable({    
														"aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
														"iDisplayLength": 5
													});
												});

												function pp(dd){
															$.ajax({
													        url: '/admin/staffs',
													        method: 'post',
													    	data: {
										                    id : dd
										              		},
										                timeout: 5000,
										                complete: function() {
										                  //called when complete
										                  console.log('process complete');
										                },

										                success: function(data) {
										                  console.log(data._id);
										                  console.log('process sucess');
										                  $('#edit-user-id').attr('value',data._id);
										                  $('#edit-user-displayname').attr('value',data.DisplayName);
										                  $('#edit-user-email').attr('value',data.Email);
										                  $('#edit-user-birthday').attr('value',data.DateOfBirth);
										                  $('#edit-user-gender').attr('value',data.Gender);
										                  $('#edit-user-avatar').attr('value',data.ImageAvatar);
										                  $('#edit-user-address').attr('value',data.Address);
										                  $('#edit-user-datecontact').attr('value',data.DateContact);
										                  $('#edit-user-phone').attr('value',data.Phone);
										                  $('#edit-user-role').attr('value',data.Role);
										               },

										                error: function() {
										                  console.log('process error');
										                },
										              });}

										</script>

									</form>
								</div>
							</div>
						</div>
				  </div>
		</div>
    </main>
</body>

</html>