<!DOCTYPE html>
<html lang="en-us">

<head>
    <%include header %>
</head>

<body class="layout layout-vertical layout-left-navigation layout-above-toolbar layout-above-footer">
    <main>
        <div id="wrapper">
            <%include sidebar%>
            <div class="content-wrapper">
                <div class="content custom-scrollbar ps ps--active-y">

                    <div>

      	<!-- / body -->
						<div class="container-fluid">
							<div class="row">
								<div class="col-12">
									<form class="my-form">
										<script>
											$(document).ready(function() {
												$('#example').DataTable(); <!-- chỉnh css cho nó là xong  -->
											} );
										</script>	
										<table id="example" class="table " style="width:100%">
											<thead class="my-title-table">
												<tr>
													<th>Mã Sản Phẩm</th>
													<th>Tên</th>
													<!--<td>Loại</td>-->
													<th>Hình ảnh</th>
													<th>Giá</th>												
													<th>Xem chi tiết</th>
													<th>Chỉnh sửa</th>
												</tr>
											</thead>

											<tbody>
                                                <% products.forEach(function(p){ %>

                                                    <tr>
                                                    <td><%= p.MaMobile%></td>
                                                    <td><%= p.Name%></td>
                                                    <td><img src="<%= p.Hinh%>" height="100px" width="100px"></td>
                                                    
                                                    <td><%= p.Price%></td>
                                                    <td>
                                                         <button onclick="location.href='/admin/products/<%=p.MaMobile%>'" 
                                                        type="button" class="btn btn-info btn-lg">
                                                            Xem Chi Tiết
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button onclick="location.href='http://www.example.com'" 
                                                        type="button" class="btn btn-info btn-lg">
                                                            Chỉnh sửa
                                                        </button>
                                                    </td>
                                                </tr>
                                                <% }); %>
												
											</tbody>
											<!--
                                            <tfoot>
												<tr>
													<th>Mã Sản Phẩm</th>
													<th>Tên</th>
													<td>Loại</td>
													<th>Hình</th>
													<th>Giá</th>
													<th>Sửa</th>
													<th>Xóa</th>
												</tr>
											</tfoot>
                                        -->
										</table>
								
									</form>
								</div>
							</div>
						</div>
						<!-- enđ body -->
                    
                    
                </div>
            </div>
        </div>
    </div>
          
        </main>
</body>

</html>