<!DOCTYPE html>
<html lang="en-us">

<head>
 <%include ../header %>
</head>

<body class="layout layout-vertical layout-left-navigation layout-above-toolbar layout-above-footer">
    <main>
		
		  <div id="wrapper">
            <%include ../sidebar%>

          <%include editproductdialog%>
          <div class="content-wrapper">
                <div class="content custom-scrollbar ps ps--active-y">
                    <div >
                        <!-- HEADER -->
                        <div class="text-auto row no-gutters align-items-center justify-content-between p-6">

                            <div class="row no-gutters align-items-center">
                                <div >
                                    <img src="<%=product.ImageAvatar%>" width="150px" height ="200px">
                                </div>
                                <h3 class="my-name-user">Tên sẩn phẩm: <%=product.DisplayName%> x</h3>
                            </div>
                         <button type="button" id ="clickme" onclick = "myfunction()" class="btn btn-primary my-button" data-toggle="modal" data-target="#my-product-dialog-edit" >
						 Cập nhật thông tin 	
						 </button>
                        </div>
                        <!-- / HEADER -->

			
						<div class="container">
						  <div class="row">
							<div class="col-sm-10">
							  <form class="my-form">
								
								<div >
									<h5><i class="fa icon-key-minus"></i>ID Product: <%=product.IdProduct%></h5>
								</div>
							
								<div >
									<h5><i class="fa icon-key-minus"></i>Nhà cung cấp: <%=product.Supplier%></h5>
								</div>
								<div >
									<h5><i class="fa icon-key-minus"></i>Giá sản phẩm: <%=product.Price%></h5>
								</div>
								<div >
									<h5><i class="fa icon-key-minus"></i>Thể loại: <%=product.IdCategory%></h5>
								</div>

								<% product.ImageInfo.forEach(function(image,i){ %>
								<img src="<%=image%>" height="60px" width="60px">
								  	<% }); %>	
								<div >
									<h5><i class="fa icon-key-minus"></i>Thiết kế: <%=product.Info.thietke%></h5>
								</div>
								<div >
									<h5><i class="fa icon-key-minus"></i>Hiển thi: <%=product.Info.HienThi%></h5>
								</div>
								<div >
									<h5><i class="fa icon-key-minus"></i>Cấu hình:</h5>
									<% product.Info.CauHInh.forEach(function(cauhinh,i){ %>
										<h5><%=cauhinh%> </h5>
								  	<% }); %>	
								</div>

								<div >
									<h5><i class="fa icon-key-minus"></i>Khác:</h5>
									<% product.Info.Khac.forEach(function(khac,i){ %>
										<h1>     <%=khac%> </h1>>
									  	<% }); %>	
								</div>

								
								
								
							</form>
						
							</div>
							<div class="col-sm-1">  
							</div>
							
						  </div>
						</div>
						</div>

                    <script type="text/javascript" >
                    	
                    	function myfunction(){
                    		              
              $('#edit-user-id').attr('value','<%=product._id%>');
              $('#edit-user-idproduct').attr('value','<%=product.IdProduct%>');
              $('#edit-user-displayname').attr('value','<%=product.DisplayName%>');
              $('#edit-user-supplier').attr('value','<%=product.Supplier%>');
              $('#edit-user-thietke').attr('value','<%=product.Info.thietke%>');
              $('#edit-user-hienthi').attr('value','<%=product.Info.HienThi%>');
              $('#edit-user-imageavatar').attr('value','<%=product.ImageAvatar%>');

              $('#edit-user-imageinfo').attr('value','<%=product.ImageInfo.toString()%>');
              $('#edit-user-price').attr('value','<%=product.Price%>');
              $('#edit-user-idcategory').attr('value','<%=product.IdCategory%>');
              $('#edit-user-cauhinh').attr('value','<%=product.Info.CauHInh.toString()%>');
              $('#edit-user-khac').attr('value','<%=product.Info.Khac.toString()%>');
              
           }

                    </script>

                <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 471px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 325px;"></div></div></div>
            </div>
		</div>
		  
	</main>
		
</body>

</html>