<!DOCTYPE html>
<html lang="en-us">

<head>
    <%include ../header %>
</head>

<body class="layout layout-vertical layout-left-navigation layout-above-toolbar layout-above-footer">
        <main>
       <div id="wrapper">
            <%include ../sidebar%>
          <%include editproductdialog%>
		  <%include newproductdialog%>
          <div class="content-wrapper">
                <div class="content custom-scrollbar ps ps--active-y">
                    <div >
                   
						<!-- / body -->
						<div class="container-fluid">
							<div class="row">
								
								<div class="col-12">
									<!-- Title of table -->
									<div class="row align-items-center my-table-title">
											<div class="col">
												<div>
													<a href="#" ><h3 class="mycustom-title">Danh sách sản phẩm</h3></a>
												</div>
												
											</div>

											<div class="col-auto">
												<div class="row align-items-center justify-content-end">		
													<div class="user-menu-button">
														<div>
															<button type="button" class="btn btn-primary my-button"data-toggle="modal" data-target="#my-product-dialog-new">Thêm mới</button>

														</div>
													</div>
												</div>
											</div>
									</div>
								
									<form class="my-form-table">
									<!-- Table -->
										
									<table id="my-table" class="table">
										<thead class="my-title-table">
												<tr>
													<th>Mã SP</th>
													<th>Tên sản phẩm</th>
													<th>Hình</th>
													<th>Giá</th>
													<th>Mã loại</th>
													<th>Xem chi tiết</th>
													<th>Chỉnh Sửa</th>
												</tr>
										</thead>
											
										<tbody class="my-table-body">
											<% products.forEach(function(product,i){ %>

												<tr>
													<th>"<%=product.IdProduct%></th>
													<th><%=product.DisplayName%></th>
													<th><img src="<%=product.ImageAvatar%>" width="70" height="70"></th>
													<th><%=product.Price%></th>
													<th><%=product.IdCategory%></th>
											   
											  
											   <td><button type="button" onclick="location.href='/admin/products/<%=product._id%>'" class="my-table-btn btn btn-primary">Chi tiết</button></td>
											   <td><button type="button" onclick = "pp(id)" id ="<%=product._id%>" class="btn btn-primary my-button"data-toggle="modal" data-target="#my-product-dialog-edit">Chỉnh sửa</button></td>
											</tr>
												<% }); %>	
													
										</tbody>

											</table>
											<script>
												$(document).ready(function() {
													$('#my-table').DataTable({    
														"aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
														"iDisplayLength": 5
													});
												});

												function pp(dd){
															$.ajax({
													        url: '/admin/products',
													        method: 'post',
													    	data: {
										                    id : dd
										              		},
										                timeout: 5000,
										                complete: function() {
										                  //called when complete
										                  console.log('process complete');
										                },

										                success: function(data) {
										                  console.log(data._id);

										                  console.log('process sucess');
										                   $('#edit-user-id').attr('value',data._id);
										                  $('#edit-user-idproduct').attr('value',data.IdProduct);
										                  $('#edit-user-displayname').attr('value',data.DisplayName);
										                  $('#edit-user-supplier').attr('value',data.Supplier);
										                  $('#edit-user-thietke').attr('value',data.Info.thietke);
										                  $('#edit-user-hienthi').attr('value',data.Info.HienThi);
										                  $('#edit-user-imageavatar').attr('value',data.ImageAvatar);

										                  $('#edit-user-imageinfo').attr('value',data.ImageInfo.toString());
										                  $('#edit-user-price').attr('value',data.Price);
										                  $('#edit-user-idcategory').attr('value',data.IdCategory);
										                  $('#edit-user-cauhinh').attr('value',data.Info.CauHInh.toString());
										                  $('#edit-user-khac').attr('value',data.Info.Khac.toString());
										                  
										                  
										               },

										                error: function() {
										                  console.log('process error');
										                },
										              });}


										</script>

									</form>
								</div>
							</div>
						</div>
						<!-- enđ body --> 
                    

                <!-- <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 471px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 325px;"></div></div></div> -->
            </div>
		</div>
    </main>
</body>

</body>

</html>